---

layout: default

index: index

title: Latest
description: The latest updates from anti-fascist investigators Red Flare

metatitle: Latest
metadescription: The latest updates from anti-fascist investigators Red Flare

---

<section class="grid-section">
  <div class="grid-section--cover">
    <h1 class="grid-item--category">
      <i class="icon-arrow-down"><svg>
          <use xlink:href="#icon-arrow-down"></use>
        </svg></i>
      <span>{{ page.title }}</span>
    </h1>
    {% assign sorted_articles = site.articles | sort: 'date' | reverse %}
    <div class="grid-article--latest" data-pagination="12">
      {% for article in sorted_articles offset:0 limit:60 %}
      <article class="grid-article" data-size="md" data-style="0" itemscope
        itemtype="https://schema.org/Article">
        <a href="{{ article.url | prepend: site.baseurl | prepend: site.url }}"
          class="grid-article--link" itemprop="url">
          <header class="grid-article--header">
            <h2 class="grid-article--title" itemprop="headline">
              <span>{{ article.title }}</span>
            </h2>
          </header>
          <figure class="grid-article--figure">
            {% responsive_image_block %}
            path: {{ article.image }}
            class: "mw-100 h-auto"
            alt: "{{ article.title }}"
            {% endresponsive_image_block %}
          </figure>
          <div class="grid-article--meta">
            {% if article.date %}
            <div class="grid-meta--date">
              <time datetime="{{ article.date | date_to_xmlschema }}"
                itemprop="datePublished">{{ article.date | date:
                "%d.%m.%Y" }}</time>
            </div>
            {% endif %}
            {% if article.region %}
            <div class="grid-meta--tag">
              <i class="icon-pin"><svg>
                  <use xlink:href="#icon-pin"></use>
                </svg></i>
              <span itemprop="articleSection">{{ article.region }}</span>
            </div>
            {% endif %}
          </div>
          <footer class="grid-article--footer">
            <div class="grid-article--btn">Read more <i class="icon-arrow-right"><svg>
                  <use xlink:href="#icon-arrow-right"></use>
                </svg></i></div>
          </footer>
        </a>
      </article>
      {% endfor %}
    </div>
  </div>
</section>